.carousel {
  padding-block: min(20vh, 1rem);
  min-height: 35vh;
}

.swiper-slide-active div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  background-image: transparent;
}

.swiper-pagination {
  position: static;
  padding-top: 0.5rem;
}

.swiper-pagination-bullet-active {
  background-color: #f6821f;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f6821f;
}

@media (prefers-color-scheme: dark) {
  .swiper-pagination-bullet-active {
    background-color: #43847c;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #43847c;
  }
}
